<h1>Reset your Password</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form|%>
  
    <div class="mb-3">
        <%= form.label :Password %>
        <%= form.password_field :password, class: "form-control", placeholder: "Password"%>
    </div>
    <div class="mb-3">
        <%= form.label :Password_Confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password_confirmation"%>
    </div>
    <div class="mb-3">
        <%= form.submit "Reset Password", class: "btn btn-primary"%>
    </div>
<% end %>